@model OI.MVC.Models.ManageUserViewModel
@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "m-t-md", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Please change your password below</h4>
    <hr />
    @Html.ValidationSummary()
<div class="col-md-6">
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })<br />        
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })        
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })<br />
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })<br />
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>

    <div class="form-group">
            <input type="submit" value="Change password" class="btn btn-primary" />
    </div>
</div>
}